@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p>Hello Boka Chan Welcome my first web by ASP .NET</p>
    <h2>@DateTime.Now</h2>
</div>
