
@{
    ViewData["Title"] = "nctGetProducts";
}

@{
    ViewData["Title"] = "nctGetProducts";
}

<h1>nctGetProducts</h1>
<h2>Du Lieu Lay Ra Tu View Bag</h2>
<h4>Ma San Pham:@ViewBag.nctProduct.ProductId</h4>
<h4>Ten San Pham:@ViewBag.nctProduct.ProductName</h4>
<h4>Ngay SX:@ViewBag.nctProduct.YearRelease</h4>
<h4>Gia:@ViewBag.nctProduct.Price</h4>

<h2>theo kieu VD</h2>

